<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!--DB连接-->
    <add key="DBConnStr" value="Data Source=192.168.76.14;Initial Catalog=WhiteGlue;Persist Security Info=True;User ID=whiteglue_user;Password=whiteglue2026#"/>
    <!--串口号-->
    <add key="Port" value="com2"/>
    <!--波特率-->
    <add key="BaudRate" value="9600"/>
    <!--当前厂区-->
    <add key="Plant" value="W6"/>
    <!--下拉厂区-->
    <add key="Plants" value="W1|W3|W5|W6|W7|W8|W22"/>
    <!--印刷机台代号-->
    <add key="W6ConvertMachine" value="v|k|L|r|s" />
    <add key="Sites" value="1" />

    <!--串口服务器IP-->
    <add key="ScaleIP" value="192.168.0.7"/>
    <add key="ScalePort" value="23"/>
  </appSettings>
</configuration>